@import url('font/flaticon.css');

html {
    zoom: 90%;
}

.icons::before {
    margin: 0;
}

:root {
    --assent-color: #2767de;
}

.icon-wrap-main {
    display: inline-flex;
    background-color: var(--assent-color);
    justify-content: center;
    align-items: center;
    /* padding-bottom: 0.1rem;
    padding-right: 0.05rem; */
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.nav-icon-img {
    width: 1.3rem;
    margin-right: 0.5rem;
}

.icon-menu::before {
    color: #ffffff;
    font-size: 0.7rem;
    font-weight: 900;
}

.navmenu {
    padding: 1rem 1.2rem;
}

.navmenu .nav-link {
    display: flex;
    position: relative;
    align-items: center;
    font-size: 0.9rem;
    margin-right: 0.8rem;
    cursor: pointer;
}


.navmenu .nav-right-section {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.right-icons {
    width: 2rem;
}

.right-icons-sm {
    width: 1.2rem;
}

.secondary-actions {
    margin-left: 1.2rem;
}

.secondary-actions .nav-link {
    padding: 0;
}

.main-title {
    color: var(--assent-color);
    font-size: 1rem;
    margin: 2rem 0;
}

.navmenu .navbar-brand {
    margin-right: 5rem;
}



.create-options {
    display: none;
    position: absolute;
    box-shadow: 1px 0 7px #bebebe;
    background-color: #ffffff;
    width: 220px;
    border-radius: 1rem;
    z-index: 9999;
    top: 50px;
    left: 50%;
    margin-left: -100px;
    padding: 1.2rem 1rem;
}

.create-options .nav-link {
    font-size: 0.8rem;
    padding: 0.4rem 1rem;
}

.create-options .create-icons {
    width: 1.3rem;
    margin-right: 0.7rem;
}

.profile-option {
    display: none;
    position: absolute;
    width: 290px;
    right: -13px;
    top: 60px;
    border-radius: 1rem;
    box-shadow: 3px 2px 16px #bebebe;
    display: none;
    z-index: 9999;
    background-color: #ffffff;
}

.profile-option .top-section {
    padding: 1.3rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    background-color: #f9f9f9;
}

.user-info {
    display: flex;
    align-items: center;
}

.bottom-section .nav-item {
    padding: 0.5rem 0;
}

.bottom-section .nav-link {
    padding: .2rem 1rem;
}

.profile-option .user-image .user-icon {
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 50%;
    margin-right: 0.7rem;
}

.drop-items {
    flex-direction: column;
}

.drop-items .text,
.text-logout {
    color: #838383;
    font-weight: 600;
}

.drop-items .desc {
    font-size: 0.7rem;
    margin-top: -5px;
    color: #bebebe;
}

.dropdown-icons::before {
    font-size: 1.2rem;
    color: var(--assent-color);
    margin: 0 1rem;
    font-weight: 500;
}

.dropdown-icon-exit::before {
    color: #838383;
    font-size: 1rem;
    font-weight: 700;
}

.username-wrap .name {
    font-size: 1rem;
    color: #838383;
    margin-bottom: -6px;
}

.username-wrap .desc {
    font-size: 0.7rem;
    color: #838383;
}

.workspace-display {
    background-color: var(--assent-color);
    display: flex;
    align-items: center;
    padding: 0.4rem 0.7rem;
    border-radius: 1.2rem;
    position: relative;
    cursor: pointer;
}

.workspace-display .icon-workspace::before,
.workspace-info {
    color: #ffffff;
}

.workspace-display .icon-workspace::before {
    font-size: 0.9rem;
    margin-right: 0.5rem;
}

.workspace-display .workspace-info .title {
    font-size: 0.45rem;
    margin-bottom: -3px;
}

.workspace-display .workspace-drop-icon::before {
    color: #ffffff7d;
    margin-left: 0.5rem;
    font-size: 1rem;
}

.workspace-display .workspace-info .workspace-name {
    font-size: 0.7rem;
    color: #ffffff;
}

.workspace-options {
    display: none;
    position: absolute;
    z-index: 9999;
    background-color: #ffffff;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 1px 0 7px #bebebe;
    top: 60px;
}

.form-search-workspace {
    display: flex;
    align-items: center;
    border: 1px solid #f0f0f0;
    padding: 0 0.5rem;
    border-radius: 1rem;
    margin-bottom: 0.7rem;
}

.form-search-workspace .search-icon::before {
    font-size: 0.8rem;
    color: #bebebe;
}

.no-shadow:focus {
    box-shadow: none !important;
}

.form-search-workspace .btn-search {
    padding: 0;
}

.form-search-workspace input {
    background-color: transparent;
    border: none;
    font-size: 0.7rem;
    border-radius: 1rem;
}

.workspace-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.7rem;
}

.workspace-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.workspace-list-item .workspace-name {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    color: #838383;
}

.workspace-status {
    background-color: #e9f6e8;
    color: #50b32d;
    font-size: 0.7rem;
    padding: 0.1rem 0.5rem;
    border-radius: 0.5rem;
}

.workspace-status span::before {
    font-size: 0.6rem;
    margin-left: 0.5rem;
}

.workspace-name img {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.workspace-option-foot {
    display: flex;
    padding-top: 0.7rem;
    border-top: 1px solid #f0f0f0;
}

.icon-img {
    width: 1rem;
    margin-right: 0.5rem;
}

.icon-all-workspace::before {
    font-size: 1rem;
    margin-right: 0.5rem;
    color: var(--assent-color);
}

.workspace-option-foot a {
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    color: #838383;
    padding: 0 .75rem;
}

.workspace-option-foot a:first-child {
    border-right: 1px solid #838383;
    border-radius: 0;
}

.dashboard-box {
    padding: 4rem 2rem 2rem 2.3rem;
    border-radius: 1rem;
    max-width: 240px;
    transition: 0.1s linear;
}


.dashboard-box:hover {
    box-shadow: 0.5rem 0.5rem 0 rgba(233, 236, 239, 0.5);
    transform: translate3d(-4px, -4px, 0) rotateZ(-1deg);
    border: 1px solid #b9d0fb;
}

.dashboard-box .icon-circle {
    background-color: #ffffff;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.2rem;
}

.dashboard-box.first .icon-circle {
    background-color: #2263de;
}

.dashboard-box.first .desc {
    color: #2263de;
}

.dashboard-box.first .link-dashboard {
    color: #2263de;
}

.dashboard-box.second .icon-circle {
    background-color: #1e97d4;
}

.dashboard-box.second .desc {
    color: #1e97d4;
}

.dashboard-box.second .link-dashboard {
    color: #1e97d4;
}

.dashboard-box.third .icon-circle {
    background-color: #fc9a9d;
}

.dashboard-box.third .desc {
    color: #fc9a9d;
}

.dashboard-box.third .link-dashboard {
    color: #fc9a9d;
}

.icon-circle .icon-dashboard {
    width: 2.9rem;
}

.icon-circle .icon-dashboard-font::before {
    font-size: 1.3rem;
    font-weight: 600;
}

.icon-road-map {
    width: 0.8rem;
    margin-right: 0.5rem;
}

.dashboard-box .desc {
    color: #ffffff;
    font-size: 2.1rem;
    font-weight: 600;
}

.dashboard-box .link-dashboard {
    color: #ffffff;
    padding: 0;
    font-size: 0.8rem;
}

.dashboard-box.first {
    background-color: #eaeff9;
}

.dashboard-box.first .icon-circle .icon-dashboard::before {
    color: #ffffff;
}

.dashboard-box.second {
    background-color: #ceedf6;
}


.dashboard-box.second .icon-circle .icon-dashboard::before {
    color: #ffffff;
}

.dashboard-box.third {
    background-color: #ffe8ef;
}

.dashboard-box.third .icon-circle .icon-dashboard::before,
.dashboard-box.third .icon-circle .icon-dashboard-font::before {
    color: #ffffff;
}

.dashboard-box.forth {
    background-color: #edf3fd;
}

.dashboard-box.forth .link-dashboard {
    color: var(--assent-color);
    font-weight: 600;
}

.dashboard-box.forth .icon-circle .icon-dashboard::before {
    color: #2767de;
}

.dashboard-box.forth .account-title {
    font-size: 1.4rem;
    color: #2767de;
    margin-left: 1.3rem;
    font-weight: 500;
}

.dashboard-box.forth .icon-circle {
    margin-bottom: 0;
}

.dash-stat {
    display: flex;
    flex-direction: column;
}

.dash-stat .stat-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.7rem;
}

.dash-stat .stat-item .stat-name {
    color: var(--assent-color);
    font-size: 0.9rem;
}

.dash-stat .stat-item .stat-value {
    min-width: 3.5rem;
    background-color: #e8effc;
    color: var(--assent-color);
    font-size: 0.8rem;
    text-align: center;
    padding: 0.2rem;
    border-radius: 0.5rem;
}

.video-wrap {}


.video-wrap .vid-header {
    display: flex;
    justify-content: space-between;

}

.video-wrap .vid-header .title {
    font-size: 0.9rem;
    color: var(--assent-color);
}

.video-wrap .vid-header .more-vid {
    background-color: #f5faff;
    font-size: 0.9rem;
    border-radius: 0.3rem;
    color: var(--assent-color);
}

.video-wrap .vid-area {
    margin-top: 1rem;
    border-radius: 1rem;
}

.vid-area iframe,
.vid-area video {
    width: 100%;
    min-height: 365px;
    border-radius: 1rem;
}

.log-header {
    display: flex;
    align-items: center;
}

.log-header a,
.vid-header .more-vid {
    font-size: 0.75rem;
    padding: .475rem .75rem;

}

.log-header a span::before {
    font-size: 0.8rem;
    margin-right: 0.4rem;
}

.log-header .btn-activity {
    color: var(--assent-color);
    border-radius: 0.8rem 0 0 0.8rem;
    background-color: #f2f5fb;
    margin-right: 0.5rem;
}

.log-header .btn-road-map {
    color: var(--assent-color);
    margin-top: 0;
    border-radius: 0 0.8rem 0.8rem 0;
}

.log-area {
    margin-top: 1rem;
}

.log-area .activity-box {
    font-size: 0.6rem;
    background-color: #f2f5fb;
    border-radius: 1rem;
    padding: 0.9rem 1.2rem 0.8rem 1.2rem;
    transition: all 0.5s;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.activity-box .activity-icon {
    width: 5rem;
    margin-right: 1rem;
}

.activity-box .title {
    color: var(--assent-color);
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
}

.activity-box a {
    color: #bebebe;
    font-size: 0.6rem;
    text-decoration: none;
}

/* .activity-box:hover .time {
    display: block;
} */

.show {
    display: block !important;
}

.show-flex {
    display: flex !important;
}

.campaign-box {
    border-radius: 1rem;
    padding: 2.5rem 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

.campaign-box.active {
    border: 1px solid var(--assent-color);
}

.campaign-box .campaign-image-wrap {
    background-color: #ffffff;
    display: flex;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.1rem;
}


.campaign-image-wrap img {
    width: 3rem;
}

.campaign-box .campaign-name {
    font-size: 1.3rem;
    color: var(--assent-color);
}

.facebook {
    background-color: #d1e3f6 !important;
}

.google {
    background-color: #fde2e2 !important;
}

.linkedin {
    background-color: #cce3f0 !important;
}

.instagram {
    background-color: #e3d3f2 !important;
}

.tiktok {
    background-color: #d1eff6 !important;
}

.tagline {
    background-color: #fad6ed !important;
}

.seo {
    background-color: #fde7ee !important;
}

.product-desc {
    background-color: #f5d1e1 !important;
}

.landing-page {
    background-color: #d2dff8 !important;
}

.email-copy {
    background-color: #d1eff5 !important;
}

#modal-create .close {
    position: absolute;
    background-color: #e5e5e5 !important;
    right: -32px;
    border-radius: 50%;
    padding: 0.3rem 0.6rem !important;
    top: -37px;
}

#modal-create .modal-title {
    color: var(--assent-color);
    text-align: center;
    font-size: 1.2rem;
}

#modal-create .form-campaign {
    background-color: #f5f5f5;
    border: none;
    font-size: 0.8rem;
    padding: 1.5rem 0.9rem;
}

#modal-create .modal-content {
    border-radius: 1rem;
}


#modal-create .modal-body {
    padding: 2rem;
}

#modal-create .btn-wrap {
    display: flex;
    justify-content: center;
}

.btn-wrap .btn {
    font-size: 0.8rem;

    width: 7rem;
}

.btn-wrap .btn-cancel {
    background-color: #f6f8fd;
    color: #517ae1;
    margin-right: 0.3rem;
    border-radius: 0.7rem 0 0 0.7rem;
}

.btn-wrap .btn-go {
    background-color: var(--assent-color);
    color: #ffffff;
    border-radius: 0rem 0.7rem 0.7rem 0;
}


.campaign-title {
    font-size: 0.9rem;
    background-color: #f4f7fa;
    padding: 0.6rem 0.8rem;
    display: inline-flex;
    align-items: center;
    border-radius: 0.5rem;
    margin: 2rem 0;
}

.campaign-title img {
    width: 1.5rem;
    margin-right: 0.5rem;
}

.campaign-form-wrap {
    background-color: #fbfcfd;
    padding: 2rem 2.5rem;
}

.campaign-form-wrap label {
    font-size: 0.7rem;
}

.campaign-form-wrap .campaign-input {
    border: none;
    font-size: 0.8rem;
    border-radius: 0.7rem;
    padding: 1.7rem 1rem;
    background-color: #ecf1fa;
    color: #000000;
}

.campaign-form-wrap .select {
    padding: 1rem 1rem;
    height: 55px;
}


.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 22px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    z-index: 2;
}

input:checked+.slider {
    background-color: var(--assent-color);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--assent-color);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 40%;
}

.check-label {
    font-size: 1.3rem;
    font-weight: 700;
    margin-right: 1rem;
}

.switch .desc-on,
.switch .desc-off {
    position: absolute;
    font-size: 0.7rem;
    z-index: 1;
    top: 50%;
    margin-top: -7px;
}

.switch .desc-on {
    color: #ffffff;
    left: 10px;
}

.switch .desc-off {
    right: 10px;
}

.campaign-info {
    font-size: 0.5rem;
    margin-right: 1rem;
}

.social-outter {
    position: relative;
}

.social-wrap {
    position: relative;
    overflow: hidden;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
}

.social-wrap.bordered {
    border: 2px solid var(--assent-color);
}

.social-wrap .floating-check {
    background-color: var(--assent-color);
    position: absolute;
    padding: 0.7rem 3rem 0 3rem;
    left: -49px;
    top: -14px;
    transform: rotateZ(-48deg);
}

.floating-check span {
    transform: rotateZ(50deg);
    display: inline-block;
}

.floating-check span::before {
    font-size: 0.5rem;
    color: #ffffff;
}

.floating-lock {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: #e9f0fc;
    padding: 0.1rem 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.floating-lock span::before {
    color: #d43624;
    font-size: 1.3rem;
}

.social-wrap .social-heading {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.social-heading .social-image {
    width: 2.8rem;
    height: 2.8rem;
    margin-right: 0.6rem;
}

.social-heading .social-image.rounded {
    border-radius: 50%;
}

.social-head-main .social-title {
    color: var(--assent-color);
    font-size: 0.9rem;
    font-weight: 600;
}

.social-head-main .social-audience {
    color: #969aa0;
    font-size: 0.9rem;
}

.social-audience .audience-icon::before {
    font-size: 0.8rem;
    margin-left: 0.4rem;
}

.social-wrap .interactions-wrap {
    display: flex;
    position: relative;
    align-items: center;
}

.user-interaction-section {
    /* margin-top: 1rem; */
    display: flex;
    border-bottom: 2px solid #c8cbd1;
    padding: 0.7rem 0;
}

.user-interaction-section .linkedin-actions {
    font-size: 0.8rem;
}

.linkedin-actions .nav-link {
    padding: 0.3rem 0.5rem;
}

.interactions-wrap .emoji-icons {
    width: 1.5rem;
}

.interactions-wrap .emoji-icons:nth-child(2) {
    margin-left: -5px;
}

.interactions-wrap .interaction-value {
    font-size: 0.9rem;
    font-weight: bold;
    font-style: italic;
    margin-left: 0.5rem;
}

.user-interaction-section .comment-share {
    margin-left: auto;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 500;
}

.comment-share .share {
    margin-left: 3.5rem;
}

.comment-share .share-icon::before {
    font-size: 1rem;
    color: var(--assent-color);
    margin-left: 0.2rem;
}

.social-wrap .link-section a {
    color: #d4dae2;
    font-size: 1rem;
}

.social-wrap .link-section a:hover {
    text-decoration: none;
}

.social-wrap .editor {
    margin-bottom: 1rem;
    word-break: break-all;
}


.btn-arrow {
    /* just for this demo. */
    margin-top: 5px;
    font-size: 0.8rem;
    border-radius: 0;
    background-color: #d2e0f9;
    color: #000000;
    font-weight: 500;
    margin-right: 0.8rem;
}

.btn-arrow:focus {
    box-shadow: none;
}

.btn-arrow-right,
.btn-arrow-left {
    position: relative;
    padding: 8px 18px;
}

.btn-arrow-right {
    padding-left: 28px;
}

.btn-arrow-left {
    padding-right: 28px;
}

.btn-arrow-right:not(:first-child):before,
.btn-arrow-right:after,
.btn-arrow-left:before,
.btn-arrow-left:after {
    content: "";
    position: absolute;
    top: 5px;
    width: 26px;
    height: 26px;
    background: inherit;
    border: inherit;
    border-left-color: transparent;
    border-bottom-color: transparent;
    /* hide bottom border */
    /* border-radius: 0px 4px 0px 0px; */
    /* round arrow corner, the shorthand property doesn't accept "inherit" so it is set to 4px */
    /* -webkit-border-radius: 0px 4px 0px 0px;
    -moz-border-radius: 0px 4px 0px 0px; */
}

.btn-arrow-right:not(:first-child):before,
.btn-arrow-right:after {
    transform: rotate(45deg);
    /* rotate right arrow squares 45 deg to point right */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

.btn-arrow-left:not(:first-child):before,
.btn-arrow-left:after {
    transform: rotate(225deg);
    /* rotate left arrow squares 225 deg to point left */
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
}

.btn-arrow-right:not(:first-child):before,
.btn-arrow-left:before {
    /* align the "before" square to the left */
    left: -13px;
}

.btn-arrow-right:after,
.btn-arrow-left:after {
    /* align the "after" square to the right */
    right: -15px;
}

.btn-arrow-right:after,
.btn-arrow-left:not(:first-child):before {
    /* bring arrow pointers to front */
    z-index: 1;
}

.btn-arrow-right:not(:first-child):before,
.btn-arrow-left:after {
    /* hide arrow tails background */
    background-color: white;
}

.btn-arrow.active {
    color: #fff !important;
    background-color: #007bff !important;
    border-color: #007bff !important;
}

.user-secondary-action {
    margin-top: 1.6rem;
    display: flex;
    align-items: center;
}

.user-secondary-action .main-action {
    display: flex;
}

.forward-btn,
.main-action #select-lang {
    background-color: #e1e2e2;
    padding: 0 0.8rem;
    margin-right: 1rem;
    font-size: 0.7rem;

}

#select-lang {
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.forward-btn span::before {
    font-size: 1rem;
}

.user-secondary-action .icon-action {
    margin-left: auto;
}

.icon-action .actions-social {
    color: #e1e2e2;
    margin-right: 0.5rem;
    text-decoration: none;
}

.loved::before {
    color: #d43624;
}

.icon-action .actions-social.active {
    color: var(--assent-color);
}

.icon-action .actions-social span::before {
    font-size: 1.3rem;
}

.codex-editor__redactor {
    padding-bottom: 30px !important;
}

.floating-socials {
    position: absolute;
    bottom: -40px;
    left: 15px;
    background-color: #ffffff;
    padding: 0.7rem 0.9rem;
    z-index: 999;
    box-shadow: 1px 0 7px #bebebe;
    border-radius: 1.5rem;
}

.floating-socials .floating-socials-item img {
    width: 2rem;
    margin-right: 0.5rem;
}

.large-display-notif {
    display: none;
    position: fixed;
    background-color: #ffffff9a;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.large-display-notif .arrow-icon::before {
    font-size: 10rem;
    color: var(--assent-color);
}

.large-display-notif .desc {
    font-size: 1.3rem;
    max-width: 650px;
    margin-top: -60px;
}

.page-desc {
    font-size: 1rem;
    color: var(--assent-color);
}

.page-desc~.d-flex .campaign-title {
    cursor: pointer;
    position: relative;
    font-size: 0.8rem;
}

.icon-drop::before {
    font-size: 0.6rem;
    margin-left: 0.8rem;

}

.campaign-title .campaigns-list-wrap {
    display: none;
    position: absolute;
    box-shadow: 1px 0 7px #bebebe;
    background-color: #ffffff;
    width: 220px;
    border-radius: 1rem;
    z-index: 9999;
    top: 66px;
    left: 50%;
    margin-left: -100px;
    padding: 1.2rem 1rem;
}

.date-selector {
    display: flex;
    align-items: center;
    background-color: #f4f7fa;
    padding: 0.2rem 0.8rem;
    border-radius: 0.5rem;
}

.date-selector select {
    background-color: transparent;
    border: none;
    font-size: 0.8rem;
    padding: .375rem 0.3rem;
}

.date-selector select:focus {
    background-color: transparent;
}

.date-selector .calendar-icon::before {
    font-size: 1.1rem;
    margin-right: 0.5rem;
}

.btn-search-campaign {
    background-color: #f4f7fa;
    margin-left: 1rem;
    border-radius: 0.5rem;
}

.btn-search-campaign span::before {
    font-size: 1rem;
    font-weight: 800;
    color: var(--assent-color);
}

.create-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 176px;
}

.campaign-box .campaign-source {
    color: var(--assent-color);
    margin-left: 0.7rem;
    font-size: 0.9rem;
}

.create-box .create-icn::before {
    font-size: 3rem;
}

.bg-light-blue {
    background-color: #fbfcfd;
}

.facebook-wrap .campaign-box {
    background-color: #d1e3f6;
}

.facebook-wrap .create-icn::before {
    color: var(--assent-color);
}


.google-wrap .campaign-box {
    background-color: #fde2e2;
}

.google-wrap .create-icn::before {
    color: #eb4132;
}

.email-wrap .btn-arrow-right {
    /* padding-left: 22px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 14px; */
    padding: 10px 18px 10px 22px;
    font-size: 0.7rem;
    color: #5383ea;
}

.email-wrap .btn-arrow-right:not(:first-child) {
    padding-left: 30px;
}

.email-wrap .btn-arrow-right:after {
    width: 27px;
    height: 27px;
}

.email-wrap .btn-arrow-right:after {
    right: -14px;
}

.modal-backdrop {
    width: 100% !important;
    height: 100% !important;
}



#email-type:focus {
    border: none;
    box-shadow: none;
    outline: none;
}

#email-type option {
    display: none;
}

.div-input {
    position: relative;
    line-height: 0.4;
    cursor: pointer;
    padding: 1.7rem 1.6rem;
}

.div-input:hover {
    box-shadow: 0 0 0 0.2rem #007bff40;
}

.div-input .icon-drop::before {
    position: absolute;
    right: 15px;
    top: 50%;
}

.email-types-wrap {
    position: absolute;
    background-color: #ecf1fa;
    width: 100%;
    top: 70px;
    left: 0;
    padding: 1.5rem 1.3rem;
    border-radius: 1rem;
    height: 335px;
    overflow-y: auto;
    box-shadow: 1px 0 7px #bebebe;
    display: none;
}

.email-type-item .email-type-icon {
    margin-right: 1.3rem;
    width: 3rem;
}

.email-types-wrap .email-type-item {
    background-color: #ffffff;
    padding: 1rem 1.3rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    transition: all 0.5s linear;
    cursor: pointer;
}

.email-type-item:hover {
    box-shadow: 1px 0 7px #bebebe;
    transform: scale(1.05);
}

.email-type-item .email-type-content {
    display: flex;
    flex-direction: column;
}

.email-type-item .email-type-content .title {
    font-size: 0.9rem;
    font-weight: 700;
}

.email-type-item .email-type-content .desc {
    font-size: 0.7rem;

    font-weight: 600;
    line-height: 12px;
}

.email-divider {
    border-top: 2px solid #8d8e8e;
    margin: 3rem 0;
}

.form-small {
    width: 45%;
    font-size: 0.9rem;
    font-weight: 600;
}

.form-small-sm {
    width: 25%;
    font-size: 0.9rem;
    font-weight: 700;
}

.text-bold {
    font-weight: 700;
    font-size: 1.2rem !important;
}

.bg-main {
    background-color: var(--assent-color) !important;
    color: #ffffff !important;
}

.email-swipe-result-notif-wrap {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-swipe-result-notif-wrap .desc {
    font-size: 0.7rem;
    margin-top: 1.5rem;
}

.email-swipe-result-notif-wrap .info-sm::before {
    font-size: 0.7rem;
    margin-right: .3rem;
}

.email-swipe-result-notif-wrap .checked-done {
    width: 4rem;
}

.btn-email-action {
    border-radius: 0.3rem !important;
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.btn-email-action span::before {
    font-size: 0.9rem;
    margin-right: 0.3rem;
}

.btn-email-exit {
    background-color: #d0def8;
    color: #477de4;
    font-size: 0.8rem;
    padding: 0.5rem 0.2rem;
}

.email-swipe-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.btn-email-sel {
    background-color: #f4f7fa;
    color: #000000;
    font-size: 0.8rem;
    margin-right: 0.5rem;
}

.prev-sel {
    display: flex;
    align-items: center;
    background-color: #f4f7fa;
    padding: 0.3rem 0.7rem;
    border-radius: 0.3rem;
}

.prev-sel span::before {
    font-size: 0.8rem;
    margin-right: 0.5rem;
}

.prev-sel select {
    background-color: transparent;
    border: none;
    font-size: 0.8rem;
}

.email-subject-wrap {
    display: flex;
    background-color: #f4f7fa;
    align-items: center;
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    margin-bottom: 3rem;
}

.email-subject-wrap .email-subject-input {
    background-color: transparent;
    border: none;
    flex-grow: 1;
    margin-left: 0.2rem;
}

.dropdown-black::before {
    color: #000000;
    font-size: 0.7rem;
}

.email-subject-wrap~.social-wrap {
    background-color: #f4f7fa;
}

.main-title .nav a {
    padding: 0.3rem 0.2rem;
    font-size: 0.9rem;
}

.add-team-tab,
.user-setting-nav {
    padding-bottom: 0.5rem;
    margin-bottom: 3.5rem;
}

.add-team-tab .nav-link,
.user-setting-nav .nav-link {
    border: none;
    font-size: 1rem;
    border-radius: 0.5rem;
}

.add-team-tab .nav-link.active {
    color: var(--assent-color);
    background-color: #f1f7fc;
}

.add-team-left .create-box {
    background-color: #d1e3f6;
    min-width: 175px;
}

.add-team-left .create-box .create-icn::before {
    color: var(--assent-color);
}

.team-empty {
    display: flex;
    align-items: center;
    font-size: 0.7rem;
    color: #e3e3e3;
    padding: 0 5rem;
}

.team-empty span::before {
    font-size: 0.8rem;
    margin-right: 1rem;
}

.slide-in-wrap {
    position: fixed;
    right: 0;
    top: 0;
    box-shadow: -1px 1px 11px #bebebe;
    height: 100%;
    background-color: #ffffff;
    width: 40vw;
    animation: slide-in 0.5s 1 linear;
    display: none;
    padding: 4rem 2.5rem;
}


.slide-in-wrap .title {
    font-size: 0.7rem;
    letter-spacing: 1px;
    margin-bottom: 1.3rem;
}

.btn-generate-link {
    background-color: #f1f7fc;
    font-size: 0.8rem;
    padding: 0.6rem 1rem;
    margin-bottom: 1.3rem;
}

.link-copier-wrap {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000000;
    margin-bottom: 1.5rem;
}

.link-copier-wrap input {
    border: none;
    background-color: transparent;
    font-size: 0.9rem;

}

.link-copier-wrap button {
    background-color: transparent;
}

.link-copier-wrap button span::before {
    font-size: 1.3rem;
}

.slide-in-wrap label {
    font-size: 0.6rem;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin-bottom: 1.5rem;
    color: #959595;

}

.slide-in-wrap .form-slide-in {
    background-color: #ecf1fa;
    font-size: 0.9rem;
    /* padding: 1.2rem 0.7rem; */
    height: 2.7rem;
    color: #9ea0a5;
}

.slide-in-wrap .form-group {
    margin-bottom: 1.5rem;
    padding-right: 2rem;
}

.btn-send {
    padding: 0.7rem 2rem;
    border-radius: 0.5rem;
    margin-right: 1rem;
}

.btn-close {
    color: var(--assent-color);
}

.shared-campaigns-wrap {
    flex-grow: 1;
    padding: 1rem 4rem;
    border-left: 1px solid #000;
    margin-left: 3rem;
    height: calc(100vh - 250px);
}

.shared-campaigns-wrap .title {
    color: var(--assent-color);
    font-size: 0.9rem;
    margin-bottom: 1.3rem;
}

.shared-campaigns-wrap .campaign-box .campaign-source {
    font-size: 0.8rem;
}

.shared-campaigns-wrap .campaign-box .campaign-image-wrap {
    width: 2.5rem;
    height: 2.5rem;
}

.shared-campaigns-wrap .campaign-image-wrap img {
    width: 2.5rem;
}

.shared-campaigns-wrap .campaign-box .campaign-name {
    font-size: 1.1rem;
}

.drop-user-icon::before {
    font-size: 0.6rem;
    margin-left: 0.5rem;
}

.added-team-wrap {
    background-color: var(--assent-color);
    display: flex;
    padding: 1.5rem 1rem;
    border-radius: 0.5rem;
}

.added-team-wrap .user-info .user-image {
    border-radius: 50%;
    margin-right: 0.5rem;
}

.added-team-wrap .username-wrap {
    margin-right: 0.8rem;
}

.added-team-wrap .username-wrap .name,
.added-team-wrap .username-wrap .desc {
    color: #ffffff;
}


.added-team-wrap .username-wrap .name {
    font-size: 0.7rem;
    font-weight: 600;
    margin-bottom: -1px;
}

.added-team-wrap .username-wrap .desc {
    font-size: 0.5rem;
}

.added-team-wrap .user-info .user-image .user-icon {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
}


.switch-sm {
    position: relative;
    display: inline-block;
    width: 27px;
    height: 14px;
}

/* Hide default HTML checkbox */
.switch-sm input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.switch-sm .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    -webkit-transition: .4s;
    transition: .4s;
}



.switch-sm .slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 2px;
    bottom: 2px;
    background-color: var(--assent-color);
    -webkit-transition: .4s;
    transition: .4s;
    z-index: 2;
}

.switch-sm input:checked+.slider {
    background-color: #ffffff;
}

.switch-sm input:focus+.slider {
    box-shadow: 0 0 1px var(--assent-color);
}

.switch-sm input:checked+.slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.switch-sm .slider.round {
    border-radius: 34px;
}

.switch-sm .slider.round:before {
    border-radius: 40%;
}

.bg-gray {
    background-color: #faf9fb;
}

.bg-white {
    background-color: #ffffff;
}

.workspace-empty,
.workspace-not-empty {
    margin-top: 3rem;
    height: calc(100vh - 100px);
}

.workspace-info-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100%;
    background-color: #5e87fe;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.1rem;
    border-radius: 1.3rem;
    margin-bottom: 3rem;
}

.info-workspace-icon::before {
    font-size: 1.4rem;
    color: #ffffff;
    margin-right: 1rem;
}

.create-btn-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-btn-wrap .btn-create-workspace {
    background-color: #d7d8dc;
    border-radius: 50%;
    border: 1px solid #4b515c;
    padding: 0.675rem 1.05rem;
    margin-bottom: 1rem;
}

.create-btn-wrap .btn-create-workspace span::before {
    font-size: 1.4rem;
    color: #4b515c;
}

.create-btn-wrap .title {
    font-size: 1rem;
    font-weight: 600;
}

.create-btn-wrap .desc {
    font-size: 0.6rem;
    color: #d5d5d5;
    margin-top: -7px;
}

.upload-wrap {
    display: flex;
    align-items: center;
}

.upload-wrap .upload-btn {
    display: flex;
    font-size: 0.8rem;
    align-items: center;
    background-color: #e2e2e2;
    padding: 0.5rem 2.5rem 0.5rem 0.5rem;
    border-radius: 1.5rem;
    margin-right: 1rem;
    position: relative;
    cursor: pointer;
}

.upload-wrap .btn-cancel-upload {
    background-color: #fcc9c9;
    border-radius: 50%;
    padding: 0.1rem 0.6rem;
}

.btn-cancel-upload .cancel-icon {
    color: red;
    font-size: 0.8rem;
}

.upload-btn .icon-wrap {
    background-color: #bcbdbe;
    width: 1.6rem;
    height: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 1rem;
}

.upload-btn .icon-wrap .upload-icon::before {
    font-size: 0.7rem;
    font-weight: 800;
}

.upload-btn input,
.btn-upload-img input {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}



.main-check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 21px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 1rem;
}

.main-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.main-check input:checked~.checkmark {
    background-color: #b0b5bc;
}

.main-check .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 23px;
    width: 23px;
    background-color: #eee;
    border-radius: 0.4rem;
}

.main-check input:checked~.checkmark::after {
    display: block;
}

.main-check .checkmark::after {
    left: 6px;
    top: 6px;
    width: 10px;
    height: 10px;
    border-radius: 0.2rem;
    background-color: #262a2f;
}

.main-check .checkmark::after {
    content: "";
    position: absolute;
    display: none;
}

.workspace-not-empty-inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* height: calc(100vh - 100px); */
}

.workspace-not-empty-inner .title {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.added-workspaces {
    display: flex;
    flex-direction: column;
}

.added-workspaces .workspace-item {
    display: flex;
    background-color: #ecf1fa;
    font-size: 0.9rem;
    align-items: center;
    width: 456px;
    padding: 0.7rem 1rem 0.7rem 0.6rem;
    border-radius: 0.7rem;
    margin-bottom: 1rem;
    position: relative;
}

.default-tag {
    position: absolute;
    color: #89aaf0;
    background-color: #dfecfd;
    top: 0;
    left: 13%;
    font-size: 0.5rem;
    padding: 0rem 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}


.workspace-item .workspace-title {
    margin-right: 1rem;
}

.team-icons-wrap {
    display: flex;
    align-items: center;
}

.team-icons-wrap span {
    margin-right: 0.5rem;
}

.team-icons {
    display: flex;
    align-items: center;
}

.team-icons img {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin-left: -3px;
}

.workspace-actions {
    display: flex;
    margin-left: auto;
}

.workspace-actions .btn-workspace-action {
    background-color: transparent;
    padding: 0;
}

.btn-workspace-action span::before {
    font-size: 0.7rem;
    margin-right: 0.4rem;
}

.btn-create-workspace-simple {
    color: #5f87ea;
    background-color: #ecf1fa;
    font-size: 0.7rem;
    padding: 0.5rem 0.9rem;
    margin-top: 1.5rem;
}

.designs-wrap {
    display: flex;
    flex-wrap: wrap;
}

.designs-wrap img {
    margin: 0 1.5rem 1.5rem 0;
}

.user-settings-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-setting-nav {
    display: inline-flex;
    border-bottom: 2px solid #dee2e6;
}

.user-setting-nav .nav-link {
    font-size: 0.7rem;
    letter-spacing: 2px;
    font-weight: bold;
    color: #495057;
}

.user-setting-nav .nav-link.active {
    position: relative;
}

.user-setting-nav .nav-link.active::after {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #2767de;
}

.user-settings-tabs {
    width: 100%;
    max-width: 595px;
}

.user-settings-tabs .title {
    font-size: 0.9rem;
    border-bottom: 2px solid #dee2e6;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.user-form label {
    font-size: 0.8rem;
    color: #716666;
}

.x-padding-right {
    padding-right: 1.5rem;
}

.x-padding-left {
    padding-left: 1.5rem;
}

.user-setting-input {
    border: none;
    background-color: #f5f5f5;
    border-radius: 0.5rem;
    height: calc(1.5em + 0.65rem + 2px);
    font-size: 0.8rem;
}

.profile-image-upload {
    display: flex;
    align-items: center;
}

.profile-image-upload .upload-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 0.7rem;
}

.upload-section .desc {
    font-size: 0.6rem;
    max-width: 90%;
}

.btn-upload-img {
    background-color: #f5f5f5;
    font-size: 0.7rem;
    margin-top: 1rem;
    cursor: pointer;
    position: relative;
    border-radius: 0.5rem;
    transition: all 0.5s;
}

.btn-upload-img:hover {
    transform: scale(1.1);
}

.btn-upload-img span::before {
    font-size: 0.6rem;
    margin-left: 0.2rem;
    display: inline-block;
    transform: rotateZ(-90deg);
}

.btn-save {
    font-size: 0.7rem;
    padding: 0.65rem 1.5rem;
}

.integeration-title {
    font-size: 0.8rem;
    margin-bottom: 1rem;
    color: #7c7c7c;
    font-weight: bold;
}

.integeration-item {
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    padding: 0.7rem 0.9rem;
    border-radius: 0.8rem;
    margin-bottom: 1rem;
}

.integeration-item .img-icon {
    width: 1.7rem;
    margin-right: 1rem;
}

.integeration-item .integeration-social-title {
    font-size: 1rem;
    color: #7c7c7c;
}

.integeration-item .integretion-actions {
    margin-left: auto;
    display: flex;
}

.integretion-actions .btn-integeration {
    font-size: 0.7rem;
    color: #fe2828;
    background-color: #f6dede;
    margin-right: 1rem;
    padding: 0.175rem .75rem;
    border-radius: 0.5rem;
}

.btn-integeration span::before {
    font-size: 0.7rem;
    margin-left: 0.5rem;
}

.integretion-actions .btn-connect-social {
    padding: 0;
}

.integretion-actions .btn-connect-social img {
    width: 1.4rem;
    margin-right: 0.5rem;
}

.social-section-wrap:not(:first-child) {
    margin-top: 3rem;
}

.trophy-icon {
    width: 4rem;
}

.trophy-icon~.desc {
    font-size: 0.9rem;
    margin-top: 3rem;
}

.access-title {
    font-size: 0.7rem;
    letter-spacing: 0.5px;
    margin-bottom: 0.6rem;
}

.access-level-item {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 550;
    color: #838383;
    margin-bottom: 0.7rem;
}

.access-level-item .access-icons {
    width: 1rem;
    margin-right: 1rem;
}

.access-check {
    margin-left: auto;
}

.access-check .switch {
    width: 40px;
    height: 20px;
}

.access-check .slider.round:before {
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
}

.access-check input:checked+.slider::before {
    transform: translateX(19px);
}

.title-text,
.date-wrap {
    margin: 3rem 0;
    font-size: 1rem;
    color: #838383;
    display: flex;
    align-items: center;
}

.date-today {
    letter-spacing: 2px;
    margin-left: 0.5rem;
}

.analyse-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

.analyse-wrap .analyse-form {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #b5afaf;
    margin-right: 1rem;
    height: calc(1.5em + 1.45rem + 2px);
}

.analyse-wrap .btn-analyse {
    width: 300px;
    background-color: #f2f5fb;
    color: #2767de;
    font-size: 1.5rem;
}

@keyframes slide-in {
    from {
        right: -690px;
    }

    to {
        right: 0;
    }
}